@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
}
.marquee-animate {
  display: inline-block;
  animation: marquee 6s linear infinite;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  pointer-events: none;
}

body::-webkit-scrollbar {
  display: none;
}

#comment-list::-webkit-scrollbar {
  display: none;
}

#profile::-webkit-scrollbar {
  display: none;
}

#setting::-webkit-scrollbar {
  display: none;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-right {
  animation: slide-right 2s infinite;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid #fff;
  border-top: 4px solid gray;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
